<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/Agree.css" th:href="@{/css/Agree.css}">
    <title>약관동의</title>
  </head>
  <body>
    <div class="wrap">
      <div class="top"></div>
      <div class="main">
        <h3>서비스 이용 약관동의</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        doloremque, ea reiciendis praesentium consequatur officiis distinctio
        asperiores velit quia explicabo minima quae alias! Repudiandae, illum
        vel? Pariatur tempora maxime corrupti. Inventore, ad esse veritatis
        reprehenderit sit atque. Beatae saepe adipisci consequatur ducimus
        quibusdam maiores qui quia, corporis praesentium eum, repudiandae cum
        dolore ipsum perspiciatis cumque, minima quae magnam! Voluptatem, rerum!
        Repellat neque unde iure accusantium consequuntur labore, perspiciatis
        veniam nihil natus repellendus iste minima nesciunt expedita ratione ab
        voluptates facere itaque? Voluptatum reprehenderit omnis atque nostrum.
        Adipisci tempora culpa obcaecati?
        <button>약관에 동의합니다.</button>
      </div>
      <div class="bottom"></div>
    </div>
  </body>
</html>
